// Основные цвета
$color-white: #ffffff;
$color-black: #000000;

// Цвета текста
$color-text-primary: #020617;
$color-text-secondary: #e5e7eb;

// Цвета фона
$color-background-dark: #1e293b;
$color-background-overlay: rgba(15, 23, 42, 0.7);
$color-background-overlay-light: rgba(15, 23, 42, 0.08);
$color-background-overlay-medium: rgba(15, 23, 42, 0.75);

// Акцентные цвета
$color-error: #ef4444;
$color-border-light: rgba(148, 163, 184, 0.8);
